<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net40" />
  <package id="Wodsoft.DotNet40.Runtime" version="1.0.2" targetFramework="net40" />
  <package id="Wodsoft.Extensions.Configuration" version="1.1.2" targetFramework="net40" />
  <package id="Wodsoft.Extensions.Configuration.Abstractions" version="1.1.2" targetFramework="net40" />
  <package id="Wodsoft.Extensions.Configuration.FileExtensions" version="1.1.2" targetFramework="net40" />
  <package id="Wodsoft.Extensions.Configuration.Json" version="1.1.2" targetFramework="net40" />
  <package id="Wodsoft.Extensions.FileProviders.Abstractions" version="1.1.1" targetFramework="net40" />
  <package id="Wodsoft.Extensions.FileProviders.Physical" version="1.1.1" targetFramework="net40" />
  <package id="Wodsoft.Extensions.FileSystemGlobbing" version="1.1.1" targetFramework="net40" />
  <package id="Wodsoft.Extensions.Primitives" version="1.1.1" targetFramework="net40" />
</packages>